<div class="footer-basic">
        <footer>
            <div class="social">
                {{#each footers.icons}}
                <a href="{{this.link}}"><i class="{{this.iconUrl}}"></i></a>
                {{/each}}
                
            </div>
            <ul class="list-inline">
                {{#each footers.links}}
                <li class="list-inline-item"><a href="{{this.url}}">{{this.label}}</a></li>
                {{/each}}
            </ul>
            <p class="copyright">{{footers.copyright}}</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>